Source: cumulus
Section: user/navigation
Priority: optional
Maintainer: Axel Pauli <kflog.cumulus@googlemail.com>
Build-Depends: debhelper (>= 5), libbluetooth3-dev (>= 4.60), libqt4-dev (>= 4.7.0~git20100909), libosso-dev (>= 2.32), libglib2.0-dev (>= 2.20.3), libstdc++6-4.2-dev (>= 4.2.1), liblocation-dev (>= 0.102), libc6-dev (>= 2.5.1)
Standards-Version: 3.7.2

Package: cumulus
Architecture: any
Depends: ${shlibs:Depends}, alsa-utils (>= 1.0.20)
Description: Cumulus is a flight computer for glider pilots.
 Cumulus features a full colored moving map display with elevations, airspace,
 terrain and airfields information. It can use waypoints, supports flight tasks
 and logs flights according to the IGC standard.
 .
 Cumulus can be used with different GPS receivers either with the build in
 or an external GPS device connected via serial, USB or BT.
 .
 Cumulus home page: http://www.kflog.org/cumulus/
XSBC-Bugtracker: mailto:kflog.cumulus@googlemail.com
XB-Maemo-Upgrade-Description: Fulfilling of the Maemo 5 requirements.
XB-Maemo-Upgrade-Description-de_DE: Erfuellen der Maemo 5 Anforderungen.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c
 6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAlgAAAJYABbFUIBwAAAAd0
 SU1FB9oLFxAcK5OCzLMAAAkYSURBVGje1Zp7cFTVHcc/59y771eS3QTMVECo
 EqGA6HTGx9RBJEi14giIgqDVOtI607ROazudOq0zHaej1ooVKVam1uJoqhaL
 REHRYEgokBA7VjSaAFoCJASSxjzv7t17T/+42Us2ELDtxm7PzJ3NnnN39/f7
 fb+/543o6FOKEUsphRAClOLhX9zPpV+bQ/mCcgxjaD+PljiTAgeam1iy8BoO
 tx6ioy//hAeQowmvbJs/PvM7+vv7nX3yc52iQMbKacvks392kjQG2X/oGB5d
 oJT6/0AAQJMaPp8fwxjkxcrnCPqzz/MaAaUUUtPw+kMoBZs2/pne/nQWQnmO
 gMgStvnjJt7auhktD2k0qg8AJBIJhBB0d3fz4vOVWGmDjPz5oog80+GECRPw
 er1IKdn6+mZaPmpBH0IhX6h0WgUc2QTF48bj8XhQSmEYgzz4wP1EAs5ZXiOQ
 Ee7CaTPw+f2utWtrqqmtrccfyB8ajYKAY+GiknHEi+LYto0Qgr6+PtasfhRN
 kjcRaVQEhBAI4OvfWJh1tntXHTu2v4OmfXE0Gvk7w9+PikDGF669/sasvfb2
 o7z6yibAdL9orBVRSiFlxjc/hwLDb5o6fSbFiQS2bSOlRCB45aVK2o52oOly
 zCOSUqDrkuamD6naWIllpRHC+V2l1OgKCAS2Ar8/wPLb7syiVkdHO489/OAX
 FpFiAfjOHcu5c+UyGvfsBmW5rBg9DwhQtsLjkcxbcN0pVnl140vs2d1I4AuI
 SDrQ3NKMAu773ipMM4nuEWdPZACWBVPOn8pll1+RJeSJEyf4za8fwbbGPiIl
 gfL51wDQ1PQhv3zgp3S0HXNofcZuZyicJoqLueLKuQ6tbNs9r6vbwa6d77jZ
 eaxWnwH3VPyAYDCIEILfPvk4r71SeWYfGBltb1i0hFA4nLXb0dbGS8//CZQ5
 ZjWSEJA2FTNmzeDyyy+jtLQU21Y0NOxFirNQyO3OlOL8smnMvXpe9jnwWtUm
 mj74GK839zWSE2nA5xNse+NN6vfUM3v2bKZOncqbW6rY9HLl56GQYwVd17nn
 3h+5+5nrWHsbax57hKAv9xEpY7yQFzY88zQ9vb1UVVURi8W4al45x9tbz04h
 IRwrKAUzZl3M9QtvRCmFpmmusFtff5W3t9UQDOaeRlIKDAv+urPO3auvr6e4
 ZDx3V9x3dgUcBAS2rQgGvdx217fx6DrpdNq9p7u7m3VrVtPb048QOYpIQ4nK
 54OtVa+RTBpZ35tKJUlbI5x4uOUymc75kELTBJYNl3z1UuZcXZ5FJYDqt7dR
 s92JSI4S/7nTCgFCE0gpCOhQ+dyzJzOvlCcdUDk54hSHzSyf3ynoDrce4ZMD
 B+g80YVtGkTCYSZPnkw6naa9vR3LshgYGOCZp9YyY3oZvmAEn9+PzxfA4/Eg
 JUgJSmTlSWdUI4A0mGkL0zRJpZIYhoFpJrEsi8bWVnbW1jKclUII0lYahUIH
 hVIiS3ifT+DxwK6de9myeRO9n3Uy/cIyNE2jtLSUe79fQTwep7q6moqKCmeK
 oWnU7tjObcuXEYnFKIzFiMSiBPwBdE1D070I3TOiQJOgbNIpg/7+AQxjgL6+
 Prq7exgcHMBMmXR2dnD8eIf7uUweKikuRgiB7sjsOKqmCdLmILt3/o23tlTh
 93qYPf0C3nv/76xatQqfz5cF97p167BtG03TsCwL27Z5t7Hhv3BY6V6apg39
 rRGJxhBC4NF1Zs6cwVXl17LklhVIqTkU8vkElgU7qt9gV20diXiMmxbdwJQv
 TyEeTyBfeIEDBw4wbdo0ALq6uli/fj1r165FSollWWeMPgKIxqKEQhFC4TCx
 aJRwNIru8RONRknEi0gUlxCKxPD5A4RCQQpiBYTDYUKhEKFIEN3rQdN0wuEo
 BYUJhHQSnK7rgpaPWtiyeSN+j2TlrTdTVlaGrjvucfDgQQ4fPkxLSwsTJ05k
 //791NfXU1tb6wo+co0/5xxmzbqIsmlfIVZYTCIRp7ikhFhBEZFolKKiOIWF
 UTSvACQSAUKiEDheN+wSmSEPrh/YNijLeSNq9ryn7lpxE4ODA2zYsIFIJEJr
 aysNDQ00NDRw6NAhOjo6SKVSQ06Wym56ADEMBYAbFi3hoUfXML50HLoHbAXK
 PvlqWWDbJ+dPZE1fxWkRRIyYnGcq1Zdf2IBppujp6WXx4kUYgwapVIr0aazr
 0TVCoTDBYJCSkhIKi4r4qKmJrq7OrPuaPnifZLKHtDWOZGpk8SFOqV7/nRJk
 5H2ipbVLnTjeTlt7O90njtHZ2Ulffx+pZAoFaJokHIoQjUUoKCjEHwjjDwRI
 FJcQjxfxxGOPsGb1r1wEhBB4fT4ef/Jpliy7FctyA6Yb6XJZL4nj/UoJDTQN
 hHLgzZQOGYNJCUKCJk+e2bbzur/5Y64vv9INdRnhbr5lBU+sfwrL8iOlwC2q
 cj2VsG2wTEXKUCSTaoifQ4IOOY5lgZlSGAYkk4pUCtJpsGzFpPMms3jpLW4u
 yFBi7949HG1td3sFNUYNjwSVVV0Or4FcJFzLqmGvDkKBoIfFS5cTCgWzaPSP
 Tw/yxpYtRAJDxh+rudBofHRrEnG6ccvwogqmz7yIGxcvPdloS4lpptlZ8za9
 AwzNkP4Hw93PExFsWxGJ+Zi3YCGBYADbtl0k3ql+i/rddUONv8o/BTJrcACu
 nDOHWRddkrX/WU8PtdurMVOcUijmjQJCCGyliBSEmTtvvpvBM2vb1irajrbm
 rk8YCwQEgPKw+OblfOncc93CTAjBvn37+OD9fcM6O5VfCmQSk20rzps8hRW3
 fyur2UkmDTb/ZSOI5JiMIXNCIfe5moSly1Zy8cWXYFmWe/bu3gaOHe0+5Rlb
 LtDIDYWGkoKZUkycMoGKH/6EcDjsWry5uYma7dsIBdzHPzlDQ+YKyowwhgEL
 rruWZSvucC2cSqaoqX6Tnh4TKzmInTbJVWrLmQLD/0FE0wP8+Gc/Z+68+a4S
 dTXbebexgTtW3ERjYwNeLzlJbjlFYLhDx+Nx1v3+WW5d+U0Ajhw5wnfvvp3B
 QYOyCy/ANHOT3GQuI8LwZJVM2hQUjeOh1Wv5w/MvM2nSJD795BPOnTCBaCyC
 befGB/4FaaRbSFEIRGMAAAAASUVORK5CYII=
 ====
