Source: cumulus
Section: user/navigation
Priority: optional
Maintainer: Axel Pauli <axel@kflog.org>
Build-Depends: debhelper (>= 5), libbluetooth3-dev (>= 4.60), libqt4-dev (>= 4.7.0~git20100909)
Standards-Version: 3.7.2

Package: cumulus
Architecture: any
Depends: ${shlibs:Depends}, libbluetooth3 (>= 4.60), libqt4-core (>= 4.7.0~git20100909), libqt4-gui (>= 4.7.0~git20100909), libqt4-network (>= 4.7.0~git20100909)
Description: Cumulus is a flight computer for glider pilots.
 Cumulus features a full colored moving map display with elevations, airspace,
 terrain and airfields information. It can use waypoints, supports flight tasks
 and logs flights according to the IGC standard.
 .
 Cumulus can be used with or without a GPS receiver (either serial or BT).
 .
 Cumulus home page: http://www.kflog.org/cumulus/
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QA/wD/
 AP+gvaeTAAAACXBIWXMAAAsRAAALEQF/ZF+RAAAAB3RJTUUH0gkWCSoCZfTr
 PQAACKNJREFUeJy9l2tsm9UZx3/vxX7t2E7cpJfcWuMK90LSlq6hS+nKGKiD
 cdklY2ygbgxYV2liK7TVoJr2aRsaWzWhbcBaQGMVZUNFVWGgirWUS0MCpRfi
 tE2TNGmcxLFL7CS2kzq23/ecfbDrpBeQtqEd6dH5cM57/v/nf57neZ+jADqg
 ATbAXph1QC3Y5zVEwUwgB2SB3AVwB+AEPIXZUSDyeRPIAZNAGkgBab0A5Lz1
 qx9G3jl4EJBIQpiydRrpvEksDPVHAGTE05etX9hjV+5GUapQMPLIspecbEXS
 gZQCBDeQVxmdvOyedw4eJJXpL5BVMYwTZB64r0h//ZcmEEIwdjAASK658S6M
 UClOn41N636OZVmoqoqiKGx97FFuG+tm5sOPknjuV0hp45deJ0Jcy/u/PYYE
 X+FYs6iApO8ixTOTGzCM7dy/824sS/Bss4v7GxNYidncfssJYue83PfAD3G4
 8l4qikJ3dzfPPPMMQ0NDzPVVo7ndDKMR0hMIIRCWuHB8JZAEEmpBBQeAYWzH
 MLaDBLf3ea6/fwWWJRAi/6E54eD6lYcYTWV4bPNWHC6D8rIKAPr7+9n5yt8Y
 GBigsbER7WebMP7wO+blVGzChph2DlABuAHHhWi3mbKVDS+vQ1iCL3zjbdZt
 byqCV5yHbY3zWdRvsaBuAY2NjQghKC+rwLIszp07x3O7dtB++CRr167lu13H
 iIgbqTLHOWpPE1UmLlXAXXDaNi3dRJHlynuvLYILIfCbNzIaSbJmzRpWrlyJ
 YRgoioKUkkgkwkuv7CL44QkaGhry4Ft+StW2P9KjWdiExR7HJwhLYAkBEgpx
 pwOqPj1LLgBeALdLA194EVaFyT3fuZvq6moMI3/nUkqSySRvvLSL1tYPaGho
 4M5EF+BBIkEajCkxTmuTRXAhLC4d+ubNm/tUVWXGjBl4Yh6E00Q5rzEyMkJH
 Rwfp+vPcseoOKisr0TQNKfMuJBIJ9u3bx2vvvseiRYv43ugZPMLF0Jb1VP9+
 B5+oKWzSzmt6bxF8WgwUh3Ly5EkZj8c5e/Ys3aEu2j4KkkwmWX3zKnqzXZzY
 20VNTQ0LFy6kvOIqFi2sxuv10nq8heYD71NfX89QTS/fjOiUm5Kl2XLCW9ZT
 ve1ZhpQEPWqO39k6izFw4i89SMEO4CjQoQcCAQKBACtWrKCvr497vn0ve/bs
 oampiV2v72R/5F2i0SiDg4MoioKmaWiaRjweB+C6664jm8uw3R3hocRcJBmk
 BOQkVbKUFCM8llnAr9VTV1RAzd+5haIo+P1+AoEATU1NADhzbmpra3E6nTgc
 DrxeL2VlZTidTmbNmoXb7ebAgQPM7vMxz+3HJkx6NJOabX9icPNDQIZqUcoM
 AY+YgSsS0I4cOfLq2NjYzDfeeOsaTT/D6dNt7N/fQn19PZ2dndTV1bFk+RIi
 4QipVApN0ygpKcHpdGK324nFYvT29uJzzOfM1Qb+xDgCOzUtHzG46SdMNjYw
 v/U0ZUh80sNrR3soyB8BYtrGjRv7XC5X7fGjLuemTQ8SuHo5N9zwZf6x++8k
 JsdQFIX58+Zz0003oRs1RIfOMj6eRNM0bDYbhmGQzWbp7+9nQfliktoQyBwz
 pRtHSwsVre0MPPIgpa1taDLHrrZapDxbJKAkk0mp6zqqOlWGhRAkEgk6OjrY
 u3cv4XCYW++4BapMXCNz2b9/D8ePH0fXdUpKSrAsi2g0isvlYsOGDSwJ7scm
 Fd5ljNtlBWXSRf/DDzL3yedZ+MICJs1fTAWh0+ks5rWUknQ6TTweJxgM0t4V
 JBqNcurUKSqvmsOyqnpWrVnO0qV+nn/xrxxrPcLIyEg+mFSVdDpNc3MzQ/Pr
 SJel2HfmGLOknavkJPOe3EH/xvXwQvPFaZjNZqVpmoyOjjI0NEQwGCR86hSH
 gkF6enoIh8O43W5e/9c/iWQHubPhWwCk02nC4TDt7e1FElVVVdTW1hIOh2n5
 qAXVUmkef4uviXJ8EzlWq9UEXvCQtZ6aUiASiTAwMEBHRwcft31MeDBMd3c3
 vb29ZDIZAPx+PyuWNBCN1iKlLJbhyspKZs6ciWmaUymqqvj9fpYtW0ZnZyeJ
 Q6O0TPZSlhJMKBMImby4Eu7evXtkcHCwPBaLYbPZmDt3Lg6HI786L8sXq9YA
 cODAAXw+H6lUilAoRN2SOjTFiWE40A2JXTfQNR2kRFFVPB4Pc+bM4cc7v8/a
 q2/j8clXcRjLEVxMQJs9e/YTuq7TF4qSWTVM3B0lPTuJt96Fo9bOiOccrkQZ
 JelJBj8Z5kjoMNXeWjSbSmI8i5m1MZGKkZVZ0pk0Ss4iHIkQj8eZNWsWi11L
 aBs+QmmmnBcTh0l1ZIDUVBaQ707mKVrpe7f+Znnhh2Tl6/e0PyIm/CCxiHZb
 BfNKPbjcbnC7kaqG3+/H58s3OaFQCJ/PRygUYndwF2Pjo4ykYnQOnsYSguFX
 x2F6KZ4SQ3wquLAEQgqecwURQnI4ZcPVfS9PeJvxyRKe6u7mTSlRbSqj6jAu
 h5uR8zFm2CsQpkJkfIgVNY180HdxBkChMZwi8CnghdkSAm/fVuyT+b5wazpA
 uOphRErQqq1ldfJthCkwRY6MOYkQghLVjcPmpHu4+Yql+CICnwUuM17csdtR
 rBIm3IcYK3uZnDqMsARB5WYWZ/ZN228Vz0iYY4ymR6au8jMVuARcj62mJHIX
 OWMAe3oBpj5M1ugiXvE0Qgg+Fl9hWMmwOPfmFcGv5NCVCBSa+ss9d4XXAaCa
 pZz3vEfC+0re6wJ4nbX/EqU+G3yaAlnyLyRxgUCuSGC67GqG0ao/M+lsu9wT
 hf8Y3JoiME7+hZQDmAMsRUUq2jRTkU7b4xKVz99gC/B1YKkClJPv0yvJ14RK
 pvp2+2WX9t+PbMHzOBAFQkBULyykmArIBPlHqoOLgvR/HiZ52VPAGBADUjr5
 e0hP25Tg//g6/jcFpkArqlX6TwAAAABJRU5ErkJggg==
 ====
