[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Cumulus
Exec=/opt/cumulus/bin/start_cumulus
Icon=cumulus-desktop.png
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false

